@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  width: 400px;
  margin: 0;
  padding: 10px 25px;
  font-family: "Open Sans", sans-serif !important;
  padding-bottom: 25px;
  margin-bottom: 15px;
  background: #fafafa;
}

h1 {
  font-size: 30px;
  font-weight: regular;
  margin-bottom: 20px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.codez {
  font-weight: 600;
  font-family: monospace;
  font-size: 1rem;
}

.input-form {
  display: block;
  margin-top: 20px;
}

#code {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.input-field {
  padding: 5px 10px;
  width: 250px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  border-radius: 2px;
  border-width: 0.5px;
  border-color: #353b48;
}

.submit-field {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  padding: 6px 10px;
  background: #fbc531;
  border: none;
  border-radius: 2px;
  color: #000000;
  /*height: 42.5px;*/
  white-space: nowrap;
  overflow: hidden;
  transition: 0.3s;
}

.submit-field:hover {
  background: #edba2f;
}

.submit-field:disabled,
submit-field[disabled] {
  background: #787878;
}

 .request-button {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  padding: 10px 15px;
  background: #fbc531;
  border: none;
  border-radius: 2px;
  color: #000000;
  transition: 0.3s;
 }

 .request-button:hover {
  background: #edba2f;
 }

 .request-button:disabled,
 request-button[disabled] {
  background: #787878;
 }

 #clear-data {
  padding: 5px 10px;
  background: #ffcccc;
  border: none;
  border-radius: 2px;
  color: #000000;
  transition: 0.3s;
 }

 #clear-data:hover {
  background: #ff1a1a;
 }

 .options-button {
    position: absolute;
    right:10px;
    top:10px;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
    padding: 10px 15px;
    background: #fbc531;
    border: none;
    border-radius: 2px;
    color: #000000;
    transition: 0.3s;
 }

 .options-button:hover {
    background: #edba2f;
 }

 .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #fbc531; /* yellow */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.progress {
  width: 100%;
  background-color: grey;
}

.progress-bar {
  width: 0%;
  height: 30px;
  background-color: #fbc531;
}
